<!DOCTYPE html>
<html>

<head>
  <title><%= title %></title>
  <link rel='stylesheet' href='/stylesheets/style.css' />

  <!-- Include Footer Script -->
  <%- include("../includes/headerScripts.ejs"); %>
</head>

<body class="my-3">


  <main class="container">
    <div class="row">

      <!-- Button trigger modal -->
      <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#employeeModal">
        Add Employee
      </button>

      <!-- Modal -->
      <div class="modal fade" id="employeeModal" tabindex="-1" role="dialog" aria-labelledby="employeeModalLabel"
        aria-hidden="true">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="employeeModalLabel">Add Employee</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
              <form action="/" method="post" id="employeeForm">

                <div class="form-group">
                  <label for="name">Name</label>
                  <input type="text" name="name" id="name" class="form-control" placeholder="Enter Your Name">
                </div>

                <div class="form-group">
                  <label for="email">Email</label>
                  <input type="email" name="email" id="email" class="form-control" placeholder="Enter Your Email">
                </div>

                <div class="form-group">
                  <label for="etype">Employee Type</label>
                  <select name="etype" id="etype" class="form-control">
                    <option value="Supervisor">Supervisor</option>
                  </select>
                </div>

                <div class="form-group">
                  <label for="hourlyRate">Hourly Rate</label>
                  <input type="text" name="hourlyRate" id="hourlyRate" class="form-control"
                    placeholder="Enter Your Hourly Rate">
                </div>

                <div class="form-group">
                  <label for="totalHour">Total Hour</label>
                  <input type="text" name="totalHour" id="totalHour" class="form-control"
                    placeholder="Enter Your Total Hour">
                </div>

                <div class="modal-footer">
                  <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                  <button type="submit" class="btn btn-primary">Add Employee</button>
                </div>

              </form>
            </div>
          </div>
        </div>
      </div>



      <!-- Update Modal -->
      <div class="modal fade" id="updateEmployeeModal" tabindex="-1" role="dialog"
        aria-labelledby="updateEmployeeModalLabel" aria-hidden="true">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="updateEmployeeModalLabel">Update Employee</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">

              <form action="/" method="post" id="updateEmployeeForm">

                <div class="form-group">
                  <label for="updateName">Name</label>
                  <input type="text" name="updateName" id="updateName" class="form-control"
                    placeholder="Enter Your Name">
                </div>

                <div class="form-group">
                  <label for="updateEmail">Email</label>
                  <input type="email" name="updateEmail" id="updateEmail" class="form-control"
                    placeholder="Enter Your Email">
                </div>

                <div class="form-group">
                  <label for="updateEtype">Employee Type</label>
                  <select name="updateEtype" id="updateEtype" class="form-control">
                    <option value="Supervisor">Supervisor</option>
                  </select>
                </div>

                <div class="form-group">
                  <label for="updateHourlyRate">Hourly Rate</label>
                  <input type="text" name="updateHourlyRate" id="updateHourlyRate" class="form-control"
                    placeholder="Enter Your Hourly Rate">
                </div>

                <div class="form-group">
                  <label for="updateTotalHour">Total Hour</label>
                  <input type="text" name="updateTotalHour" id="updateTotalHour" class="form-control"
                    placeholder="Enter Your Total Hour">
                </div>

                <input type="hidden" name="hiddenId" id="hiddenId">

                <div class="modal-footer">
                  <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                  <button type="submit" class="btn btn-primary">Update Employee</button>
                </div>

              </form>

            </div>
          </div>
        </div>
      </div>



      <section class="col-md-12 mt-5">

        <h3 class="text-center mb-5"><%= title %></h3>

        <table class="table table-striped">
          <thead>
            <th>Name</th>
            <th>Email</th>
            <th>Employee Type</th>
            <th>Hourly Rate</th>
            <th>Total Hour</th>
            <th>Total</th>
            <th>Edit</th>
            <th>Delete</th>
          </thead>
          <tbody>
          </tbody>
        </table>
      </section>

    </div>
  </main>

  <!-- Include Footer Script -->
  <%- include("../includes/footerScripts.ejs"); %>

  <script>
    let readRecord;
    $(document).ready(function () {
      readRecord = () => {
        let read = "read";
        $.ajax({
          url: "/read",
          method: "post",
          data: {
            read: read,
          },
          success(data) {

            const tbody = $("tbody");

            tbody.html("");
            const contentData = data.records.forEach((row) => {
              tbody.append(`<tr>
              <td>${row.name}</td>
              <td>${row.email}</td>
              <td>${row.etype}</td>
              <td>${row.hourlyRate}</td>
              <td>${row.totalHour}</td>
              <td>${row.total}</td>
              <td><button class="btn btn-primary" onclick="getEmployee(${row.id})"><i class="fa fa-pencil"></i></button></td>
              <td><button class="btn btn-danger" onclick="deleteEmployee(${row.id})"><i class="fa fa-trash-o"></i></button></td>
            </tr>`);
            });

          },
          error(err) {
            alert(err);
          },
        });
      };

      readRecord();

      // -------------------------->> INSERTING EMPLOYEE RECORDS

      $("#employeeForm").on("submit", function (e) {
        e.preventDefault();

        let name = $("#name").val();
        let email = $("#email").val();
        let etype = $("#etype").val();
        let hourlyRate = $("#hourlyRate").val();
        let totalHour = $("#totalHour").val();
        let total = parseInt(hourlyRate) * parseInt(totalHour);


        $.ajax({
          url: "/create",
          type: "post",
          data: {
            name: name,
            email: email,
            etype: etype,
            hourlyRate: hourlyRate,
            totalHour: totalHour,
            total: total,

          },
          success(data) {
            alert(data);
            $("#employeeForm").trigger("reset");
            $("#employeeModal").modal("hide");
            readRecord();
          },
          error(err) {
            alert(err);
          },
        });
      });

    });

    const deleteEmployee = (id) => {
      let deleteId = id;

      Swal.fire({
        title: 'Are you sure?',
        text: "You won't be able to revert this!",
        icon: 'warning',
        showCancelButton: true,
        confirmButtonColor: '#3085d6',
        cancelButtonColor: '#d33',
        confirmButtonText: 'Yes, delete it!'
      }).then((result) => {
        if (result.value) {
          $.ajax({
            url: "/delete",
            type: "post",
            data: {
              deleteId: deleteId,
            },
            success(data) {
              Swal.fire({
                icon: 'success',
                title: 'Success',
                text: 'Data Deleted Successfully!',
              });
              readRecord();
            },
            error(err) {
              alert(err);
            },
          });
        }
      })

    };

    const getEmployee = (id) => {
      let editId = id;

      $.ajax({
        url: "/edit",
        type: "post",
        data: {
          editId: editId,
        },
        success(data) {
          let employee = data.employee[0];

          $("#updateName").val(employee.name);
          $("#updateEmail").val(employee.email);
          $("#updateEtype").val(employee.etype);
          $("#updateHourlyRate").val(employee.hourlyRate);
          $("#updateTotalHour").val(employee.totalHour);
          $("#hiddenId").val(employee.id);
        },
      });

      $("#updateEmployeeModal").modal("show");
    };

    //----------------------->> UPDATE EMPLOYEE
    $("#updateEmployeeForm").on("submit", function (e) {
      e.preventDefault();

      let hiddenId = $("#hiddenId").val();
      let updateName = $("#updateName").val();
      let updateEmail = $("#updateEmail").val();
      let updateEtype = $("#updateEtype").val();
      let updateHourlyRate = $("#updateHourlyRate").val();
      let updateTotalHour = $("#updateTotalHour").val();
      let updateTotal = parseInt(updateHourlyRate) * parseInt(updateTotalHour);

      $.ajax({
        url: "/update",
        type: "post",
        data: {
          hiddenId: hiddenId,
          updateName: updateName,
          updateEmail: updateEmail,
          updateEtype: updateEtype,
          updateHourlyRate: updateHourlyRate,
          updateTotalHour: updateTotalHour,
          updateTotal: updateTotal,
        },
        success(data) {
          $("#updateEmployeeModal").modal("hide");
          Swal.fire({
            icon: 'success',
            title: 'Success',
            text: 'Data Updated Successfully!',
          });
          readRecord();
        },
      });
    });


  </script>

</body>

</html>